<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0;">
    <div style="width: 100vw;height:100vh;background-color: black;" id="d">
    </div>
    <script>
        count = 0;
        var colors = [];
        for (var c = 0; c <= 255; c++) {
            colors.push("rgb(255," + c + ",0)");    
        }
        var a = 255;
        while (a != 0) {
            colors.push("rgb(" + a + ",255, 0)");
            a = a - 1;   
        }
        a = 0;
        while (a != 255) {
            colors.push("rgb(0,255," + a + ")");
            a = a + 1;
        }
        function shuffleArray(array) {
            for (var i = array.length - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
 
                var temp = array[i];
                array[i] = array[j];
                array[j] = temp;
            }
 
            return array;
        }
        shuffleArray(colors);
        function x() {
            if (count == colors.length) {
                count = 0;
            }
            document.getElementById("d").style.backgroundColor = colors[count];
            document.getElementById("d").innerHTML = colors[count];
            count += 1;
        }
        setInterval(x, 200);
    </script>
</body>

</html>